<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>

<body>
    <%- include('components/nav'); %>

        <h1 class="text-center text-success fw-bold mt-4">All Candidates</h1>

        <div class="bg-success text-white mb-3 p-2 text-center success_msg"></div>

        <div class="container">
            <div class="container d-flex justify-content-between row">
                <a href="/admin/add-candidate" class="col-3 btn btn-success"><svg xmlns="http://www.w3.org/2000/svg"
                        width="25" height="25" fill="#fff" class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg> Add A New Candidate</a>
                <select class="col-3" id="all-parties">
                    <option value="all">All</option>
                    <% parties.forEach(party=> { %>
                        <option value="<%= party.partyName %>">
                            <%= party.partyName.toUpperCase() %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div class="table_container"></div>
            <div class="my-4 noRecord fs-1 text-center text-success fw-semibold"></div>
        </div>
        <%- include('../components/footer'); %>
            <script>
                $(".success_msg").hide();

                $(document).on("click", ".delete_btn", function () {
                    const id = this.id;
                    $.ajax({
                        url: `/admin/delete-candidate`,
                        type: "DELETE",
                        data: { id },
                        success: function (data) {
                            $(".success_msg").fadeIn();
                            $(".success_msg").text(data.message);
                            setTimeout(() => {
                                $(".success_msg").fadeOut();
                            }, 2000);
                        }
                    });
                    $(this).closest("tr").fadeOut();
                });

                function loadTable(value = "all") {
                    $(".table_container").html("");
                    $.ajax({
                        url: `/admin/candidates?filter=${value}`,
                        type: "GET",
                        success: function (data) {
                            if (data.message == "No Candidates Yet!") {
                                $(".noRecord").show()
                                return $(".noRecord").text(data.message);
                            } else {
                                $(".noRecord").hide()
                            }
                            return $(".table_container").html(data.message);
                        }
                    });
                }

                loadTable();

                $("#all-parties").change(function () {
                    const value = $(this).val();
                    loadTable(value);
                });
            </script>
</body>

</html>