body {
  position: relative;
  min-height: 100vh;
}

.nav-item:hover {
  border-bottom: 2px solid white;
  transition: all 0.1s ease;
}

table,
th,
td {
  border: 2px solid black;
}

th {
  text-align: center;
}

th,
td {
  padding: 10px;
}

table {
  width: 90vw;
}

table .sno {
  width: 5%;
}

table .ac_btn {
  width: 10%;
}

table .ac_btn img {
  cursor: pointer;
  transition: all 0.3s ease;
}

table .ac_btn img:hover {
  transform: scale(1.1);
}

table .date {
  width: 10%;
}

table .td {
  width: 55%;
}

.add_btn {
  position: fixed;
  right: 80px;
  bottom: 10px;
  width: 50px;
  height: 50px;
}

form .add {
  width: 100%;
}

form .add input {
  width: 100%;
  padding: 10px;
}
form .add label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 10px auto;
}

.add_task_form {
  transition: all 1s ease;
}

.d-none {
  display: none;
}

.new {
  position: relative;
  left: 75%;
}

.pages {
  width: fit-content;
}
