<!-- Navber start -->
<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-light fs-2" href="/">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav fs-5 me-auto ms-5 mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a
            class="nav-link active text-light px-2"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link text-light px-2" href="/completed"
            >Completed Tasks</a
          >
        </li>
      </ul>
      <form
        class="d-flex"
        action="/search"
        method="get"
        autocomplete="off"
        role="search"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search by title"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- Navber end -->
