<header class="text-white bg-[#0187da] body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-white mb-4 md:mb-0"
      href="/"
    >
      <span class="ml-3 text-xl">SHORT URL</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center"
    >
      <a class="mr-5 hover:text-white" href="/">Home</a>
    </nav>

    <p class="me-4">Hi! <%=userData.fullname %></p>
    <a href="/user/logout">
      <button
        class="inline-flex items-center bg-[#59a4d3] border-0 py-1 px-3 focus:outline-none hover:bg-[#59a4d375] rounded text-base mt-4 md:mt-0"
      >
        Logout
      </button>
    </a>
  </div>
</header>
